<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link href="@Url.Content("~/Content/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap-responsive.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    @RenderSection("TopScripts", required: false)
</head>
<body>
    <div class="container-fluid">
        <div id="userProfile">
            @if (ViewBag.IsUserAuthenticated)
            {
                @Html.ActionLink("Logout", "Logout", "Home")
            }
        </div>

        <div id="breadcrumbs">
            @if (SiteMap.CurrentNode != SiteMap.RootNode)
            {
                @Html.MvcSiteMap().SiteMapPath()
            }
        </div>

        <div id="main" class="text-center">
            @RenderBody()
        </div>

        <div id="footer"></div>
    </div>

    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    @RenderSection("BottomScripts", required:false)
</body>
</html>
