@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<div>
    @if (!ViewBag.IsUserAuthenticated)
    {
        @Html.ActionLink("Login to Yahoo", "AuthenticateWithYahoo")
        
    }
    else
    {
        @Html.ActionLink("View user leagues", "ListLeagues")
        <br />
        <div>
            <strong>Some debug information, pay no mind simpleton.</strong>
            <div>
                <span>Access Token: </span> @ViewBag.AccessToken
                <span>Access Token Secret: </span> @ViewBag.AccessTokenSecret
            </div>
        </div>
    }
</div>
