@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<p>
    @Html.ActionLink("Login to Yahoo", "AuthenticateWithYahoo")

    @if (ViewBag.IsUserAuthenticated)
    {
        @Html.ActionLink("View user leagues", "ListLeagues")
        <div>
            <span>Access Token: </span> @ViewBag.AccessToken
            <span>Access Token Secret: </span> @ViewBag.AccessTokenSecret
        </div>
    }
</p>
