@model IEnumerable<YahooFantasyFootballTools.Models.EligibleKeeperModel>

@{
    ViewBag.Title = "Eligible Keepers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ListEligibleKeepers</h2>

<ul id="keeperList">
    @foreach (YahooFantasyFootballTools.Models.EligibleKeeperModel keeper in Model)
    {
        <li>Name: @keeper.PlayerName</li>
        if (@keeper.IsEligible)
        {
            <li>Draft Round: @keeper.DraftRound</li>
            <li>Last Season Points: @keeper.LastSeasonPoints</li>
        }
        else
        {
            <li>@keeper.IneligibilityReason</li>   
        }
        <li>------------------------</li>
    }
</ul>