@model YahooFantasyFootballTools.Models.EligibleKeeperModel

@{
    ViewBag.Title = "Eligible Keepers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Keeper Eligibility</h2>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Player</th>
            <th>Draft round</th>
            <th>Draft auction value</th>
            <th>Last season points</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var keeper in Model.EligibleKeepers)
        {
            <tr>
                <td>@keeper.PlayerName</td>
                @if (keeper.IsEligible)
                {
                    <td>@keeper.DraftRound</td>
                    <td>$@keeper.DraftAuctionValue</td>
                }
                else
                {
                    <td colspan="2">@keeper.IneligibilityReason</td>
                }
                <td>@keeper.LastSeasonPoints</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("View keeper settings for this league", "ViewKeeperSettings", "League", new { leagueKey = Model.Team.LeagueKey }, null)