@model YahooFantasyFootballTools.Models.RosterDepthModel

@{
    ViewBag.Title = "Team Roster Depth";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Team Roster Depth</h2>
<h4>Week @Model.SelectedWeek</h4>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Position</th>
            <th>Depth Rating</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var positionDepth in Model.PositionDepths)
        {
            <tr class="@DepthClass(positionDepth.DepthValue)">
                <td>@positionDepth.PositionName</td>
                <td>@positionDepth.DepthName</td>
                <td>
                    @foreach (var playerAssignment in positionDepth.PlayerAssignments)
                    {
                        <span>@String.Format("{0} ({1})", playerAssignment.PlayerName, playerAssignment.Reason)</span>
                    }
                </td>
            </tr>
        }    
    </tbody>
</table>

<div class="pagination">
    <ul>
        @for (int i = 1; i <= Model.Weeks; i++)
        {
            <li class="@(Model.SelectedWeek == i ? "active" : string.Empty)">
                @Html.ActionLink(i.ToString(), "ShowRosterDepth", "Team", new { teamKey = Model.Team.Key, week = i }, null)
            </li>
        }
    </ul>
</div>
    
@using Tools.Analysis.Domain;
@functions{
    private string DepthClass(PositionDepth depth)
    {
        switch(depth)
        {
            case PositionDepth.Shallow:
            case PositionDepth.VeryShallow:
                return "error";
            default: return string.Empty;
        }
    }
}